<section>

    <nav class="menuNavegacao">

        <a href="/">
            <h2 class="h2"> PlanetaAnimal </h2>
        </a>
        <form action="/pesquisar/produtos/">
            <input type="search" name="pesquisa" id="pesquisa" placeholder="O que o seu pet precisa?">
            <button><i class='bx bx-search'></i></button>
        </form>

        <a href="/conta/meuspedidos/">Meus pedidos</a>

        <a href="/login">entrar|cadastrar</a>
    </nav>




</section>