<section>

    <nav class="menuNavegacao">

        <h2>PlanetaAnimal</h2>
        <form action="/pesquisar/produtos/">
            <input type="search" name="pesquisa" id="pesquisa">
            <button><i class='bx bx-search'></i></button>
        </form>

        <a href="/conta/meuspedidos/">Meus pedidos</a>

        <a href="/login">entrar|cadastrar</a>
    </nav>




</section>